<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="grouByColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="grouByColumns">
            <config key="InclList">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="country_results_year"/>
                <entry key="1" type="xstring" value="country_results_country"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="110"/>
                <entry key="0" type="xstring" value="competition_year"/>
                <entry key="1" type="xstring" value="competition_edition"/>
                <entry key="2" type="xstring" value="competition_country"/>
                <entry key="3" type="xstring" value="individual_id"/>
                <entry key="4" type="xstring" value="individual_results_year"/>
                <entry key="5" type="xstring" value="individual_results_country"/>
                <entry key="6" type="xstring" value="competition_city"/>
                <entry key="7" type="xstring" value="competition_countries"/>
                <entry key="8" type="xstring" value="competition_all_contestants"/>
                <entry key="9" type="xstring" value="competition_male_contestants"/>
                <entry key="10" type="xstring" value="competition_female_contestants"/>
                <entry key="11" type="xstring" value="competition_start_date"/>
                <entry key="12" type="xstring" value="competition_end_date"/>
                <entry key="13" type="xstring" value="country_results_team_size_all"/>
                <entry key="14" type="xstring" value="country_results_team_size_male"/>
                <entry key="15" type="xstring" value="country_results_team_size_female"/>
                <entry key="16" type="xstring" value="country_results_p1"/>
                <entry key="17" type="xstring" value="country_results_p2"/>
                <entry key="18" type="xstring" value="country_results_p3"/>
                <entry key="19" type="xstring" value="country_results_p4"/>
                <entry key="20" type="xstring" value="country_results_p5"/>
                <entry key="21" type="xstring" value="country_results_p6"/>
                <entry key="22" type="xstring" value="country_results_p7"/>
                <entry key="23" type="xstring" value="country_results_awards_gold"/>
                <entry key="24" type="xstring" value="country_results_awards_silver"/>
                <entry key="25" type="xstring" value="country_results_awards_bronze"/>
                <entry key="26" type="xstring" value="country_results_awards_honorable_mentions"/>
                <entry key="27" type="xstring" value="country_results_leader"/>
                <entry key="28" type="xstring" value="country_results_deputy_leader"/>
                <entry key="29" type="xstring" value="country_results_notes"/>
                <entry key="30" type="xstring" value="individual_results_contestant"/>
                <entry key="31" type="xstring" value="individual_results_p1"/>
                <entry key="32" type="xstring" value="individual_results_p2"/>
                <entry key="33" type="xstring" value="individual_results_p3"/>
                <entry key="34" type="xstring" value="individual_results_p4"/>
                <entry key="35" type="xstring" value="individual_results_p5"/>
                <entry key="36" type="xstring" value="individual_results_p6"/>
                <entry key="37" type="xstring" value="individual_results_p7"/>
                <entry key="38" type="xstring" value="individual_results_total"/>
                <entry key="39" type="xstring" value="individual_results_rank"/>
                <entry key="40" type="xstring" value="individual_results_award"/>
                <entry key="41" type="xstring" value="individual_results_notes"/>
                <entry key="42" type="xstring" value="awards_average_per_year_capita_10m"/>
                <entry key="43" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary"/>
                <entry key="44" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (Prior Year)"/>
                <entry key="45" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary"/>
                <entry key="46" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (Prior Year)"/>
                <entry key="47" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary"/>
                <entry key="48" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (Prior Year)"/>
                <entry key="49" type="xstring" value="Population, total"/>
                <entry key="50" type="xstring" value="Population, total (Prior Year)"/>
                <entry key="51" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%)"/>
                <entry key="52" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (Prior Year)"/>
                <entry key="53" type="xstring" value="GDP per capita, PPP (current international US Dollar)"/>
                <entry key="54" type="xstring" value="GDP per capita, PPP (current international US Dollar) (Prior Year)"/>
                <entry key="55" type="xstring" value="World Bank: Total public education expenditure, % of government spending"/>
                <entry key="56" type="xstring" value="World Bank: Total public education expenditure, % of government spending (Prior Year)"/>
                <entry key="57" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%)"/>
                <entry key="58" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (Prior Year)"/>
                <entry key="59" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4"/>
                <entry key="60" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (Prior Year)"/>
                <entry key="61" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5"/>
                <entry key="62" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (Prior Year)"/>
                <entry key="63" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3"/>
                <entry key="64" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (Prior Year)"/>
                <entry key="65" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5"/>
                <entry key="66" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (Prior Year)"/>
                <entry key="67" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (10-year Moving Average)"/>
                <entry key="68" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (10-year Moving Average)"/>
                <entry key="69" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (10-year Moving Average)"/>
                <entry key="70" type="xstring" value="Population, total (10-year Moving Average)"/>
                <entry key="71" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (10-year Moving Average)"/>
                <entry key="72" type="xstring" value="GDP per capita, PPP (current international US Dollar) (10-year Moving Average)"/>
                <entry key="73" type="xstring" value="World Bank: Total public education expenditure, % of government spending (10-year Moving Average)"/>
                <entry key="74" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (10-year Moving Average)"/>
                <entry key="75" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (10-year Moving Average)"/>
                <entry key="76" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (10-year Moving Average)"/>
                <entry key="77" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (10-year Moving Average)"/>
                <entry key="78" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (10-year Moving Average)"/>
                <entry key="79" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (CumMean/year 1959-&gt;2024)"/>
                <entry key="80" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (CumMean/year 1959-&gt;2024)"/>
                <entry key="81" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (CumMean/year 1959-&gt;2024)"/>
                <entry key="82" type="xstring" value="Population, total (CumMean/year 1959-&gt;2024)"/>
                <entry key="83" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (CumMean/year 1959-&gt;2024)"/>
                <entry key="84" type="xstring" value="GDP per capita, PPP (current international US Dollar) (CumMean/year 1959-&gt;2024)"/>
                <entry key="85" type="xstring" value="World Bank: Total public education expenditure, % of government spending (CumMean/year 1959-&gt;2024)"/>
                <entry key="86" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (CumMean/year 1959-&gt;2024)"/>
                <entry key="87" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (CumMean/year 1959-&gt;2024)"/>
                <entry key="88" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (CumMean/year 1959-&gt;2024)"/>
                <entry key="89" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (CumMean/year 1959-&gt;2024)"/>
                <entry key="90" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (CumMean/year 1959-&gt;2024)"/>
                <entry key="91" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (CumMean/year 2024-&gt;1959)"/>
                <entry key="92" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (CumMean/year 2024-&gt;1959)"/>
                <entry key="93" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (CumMean/year 2024-&gt;1959)"/>
                <entry key="94" type="xstring" value="Population, total (CumMean/year 2024-&gt;1959)"/>
                <entry key="95" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (CumMean/year 2024-&gt;1959)"/>
                <entry key="96" type="xstring" value="GDP per capita, PPP (current international US Dollar) (CumMean/year 2024-&gt;1959)"/>
                <entry key="97" type="xstring" value="World Bank: Total public education expenditure, % of government spending (CumMean/year 2024-&gt;1959)"/>
                <entry key="98" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (CumMean/year 2024-&gt;1959)"/>
                <entry key="99" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (CumMean/year 2024-&gt;1959)"/>
                <entry key="100" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (CumMean/year 2024-&gt;1959)"/>
                <entry key="101" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (CumMean/year 2024-&gt;1959)"/>
                <entry key="102" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (CumMean/year 2024-&gt;1959)"/>
                <entry key="103" type="xstring" value="competition_noaa_state"/>
                <entry key="104" type="xstring" value="competition_noaa_station"/>
                <entry key="105" type="xstring" value="competition_distance_from_weather_station"/>
                <entry key="106" type="xstring" value="competition_daily_mean_precipitation"/>
                <entry key="107" type="xstring" value="competition_daily_mean_minimum_temperature"/>
                <entry key="108" type="xstring" value="competition_daily_mean_maximum_temperature"/>
                <entry key="109" type="xstring" value="medals_weighted_sum"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
        <config key="maxNoneNumericalVals_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxNoneNumericalVals" type="xint" value="10000"/>
        <config key="enableHilite_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableHilite" type="xboolean" value="false"/>
        <config key="valueDelimiter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="valueDelimiter" type="xstring" value=", "/>
        <config key="sortInMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sortInMemory" type="xboolean" value="false"/>
        <config key="columnNamePolicy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="columnNamePolicy" type="xstring" value="Aggregation method (column name)"/>
        <config key="aggregationColumn">
            <config key="columnNames">
                <entry key="array-size" type="xint" value="5"/>
                <entry key="0" type="xstring" value="medals_weighted_sum"/>
                <entry key="1" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (10-year Moving Average)"/>
                <entry key="2" type="xstring" value="GDP per capita, PPP (current international US Dollar) (10-year Moving Average)"/>
                <entry key="3" type="xstring" value="World Bank: Total public education expenditure, % of government spending (10-year Moving Average)"/>
                <entry key="4" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (10-year Moving Average)"/>
            </config>
            <config key="columnTypes">
                <entry key="array-size" type="xint" value="5"/>
                <config key="0">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="1">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="2">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="3">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="4">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
            </config>
            <config key="aggregationMethod">
                <entry key="array-size" type="xint" value="5"/>
                <entry key="0" type="xstring" value="Mean_V4.6"/>
                <entry key="1" type="xstring" value="Mean_V4.6"/>
                <entry key="2" type="xstring" value="Mean_V4.6"/>
                <entry key="3" type="xstring" value="Mean_V4.6"/>
                <entry key="4" type="xstring" value="Mean_V4.6"/>
            </config>
            <config key="inclMissingVals">
                <entry key="array-size" type="xint" value="5"/>
                <entry key="0" type="xboolean" value="false"/>
                <entry key="1" type="xboolean" value="false"/>
                <entry key="2" type="xboolean" value="false"/>
                <entry key="3" type="xboolean" value="false"/>
                <entry key="4" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="aggregationOperatorSettings"/>
        <config key="patternAggregators"/>
        <config key="dataTypeAggregators"/>
        <config key="retainOrder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="retainOrder" type="xboolean" value="false"/>
        <config key="inMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="inMemory" type="xboolean" value="false"/>
        <config key="nodeVersion_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="nodeVersion" type="xint" value="1"/>
        <entry key="typeMatch" type="xbyte" value="0"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.groupby.GroupByNodeFactory"/>
    <entry key="node-name" type="xstring" value="GroupBy"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.3.v202410291553"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.3.v202410301420"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="GroupBy"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 3783, Cols: 7"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="bd96e1cf-2a1e-40ab-a3a0-8c15515bfa68"/>
    </config>
</config>
