<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="left_geo_column" type="xstring" value="geometry"/>
        <entry key="right_geo_column" type="xstring" value="geometry"/>
        <entry key="join_mode" type="xstring" value="INNER"/>
        <entry key="distance" type="xdouble" value="1000.0"/>
        <entry key="unit" type="xstring" value="INPUT"/>
        <entry key="keep_input_crs" type="xboolean" value="false"/>
        <config key="column_selection">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <config key="left">
                <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                <config key="patternFilter">
                    <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                    <entry key="isCaseSensitive" type="xboolean" value="true"/>
                    <entry key="isInverted" type="xboolean" value="false"/>
                    <entry key="pattern" type="xstring" value=""/>
                </config>
                <config key="typeFilter">
                    <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                    <config key="selectedTypes">
                        <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                        <entry key="array-size" type="xint" value="0"/>
                        <entry key="null_Internals" type="xboolean" value="false"/>
                    </config>
                    <config key="typeDisplays"/>
                </config>
                <config key="manualFilter">
                    <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                    <entry key="includeUnknownColumns" type="xboolean" value="true"/>
                    <config key="manuallyDeselected">
                        <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                        <entry key="array-size" type="xint" value="0"/>
                        <entry key="null_Internals" type="xboolean" value="false"/>
                    </config>
                    <config key="manuallySelected">
                        <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                        <entry key="array-size" type="xint" value="0"/>
                        <entry key="null_Internals" type="xboolean" value="false"/>
                    </config>
                </config>
                <entry key="mode" type="xstring" value="MANUAL"/>
                <config key="selected">
                    <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                    <entry key="array-size" type="xint" value="0"/>
                    <entry key="null_Internals" type="xboolean" value="true"/>
                </config>
            </config>
            <config key="right">
                <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                <config key="patternFilter">
                    <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                    <entry key="isCaseSensitive" type="xboolean" value="true"/>
                    <entry key="isInverted" type="xboolean" value="false"/>
                    <entry key="pattern" type="xstring" value=""/>
                </config>
                <config key="typeFilter">
                    <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                    <config key="selectedTypes">
                        <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                        <entry key="array-size" type="xint" value="0"/>
                        <entry key="null_Internals" type="xboolean" value="false"/>
                    </config>
                    <config key="typeDisplays"/>
                </config>
                <config key="manualFilter">
                    <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                    <entry key="includeUnknownColumns" type="xboolean" value="true"/>
                    <config key="manuallyDeselected">
                        <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                        <entry key="array-size" type="xint" value="0"/>
                        <entry key="null_Internals" type="xboolean" value="false"/>
                    </config>
                    <config key="manuallySelected">
                        <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                        <entry key="array-size" type="xint" value="0"/>
                        <entry key="null_Internals" type="xboolean" value="false"/>
                    </config>
                </config>
                <entry key="mode" type="xstring" value="MANUAL"/>
                <config key="selected">
                    <entry key="json-type_Internals" type="xstring" value="STRING_ARRAY"/>
                    <entry key="array-size" type="xint" value="0"/>
                    <entry key="null_Internals" type="xboolean" value="true"/>
                </config>
            </config>
        </config>
        <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
        <entry key="extension_version_Internals" type="xstring" value="1.2.0"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.python3.nodes.extension.ExtensionNodeSetFactory$DynamicExtensionNodeFactory"/>
    <entry key="node-name" type="xstring" value="Nearest Join"/>
    <entry key="node-bundle-name" type="xstring" value="Geospatial Analytics Extension for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="sdl.harvard.geospatial"/>
    <entry key="node-bundle-vendor" type="xstring" value="SDL, Harvard, Cambridge US"/>
    <entry key="node-bundle-version" type="xstring" value="1.2.0.202401111534"/>
    <entry key="node-feature-name" type="xstring" value="Geospatial Analytics Extension for KNIME"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="sdl.harvard.features.geospatial.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="SDL, Harvard, Cambridge US"/>
    <entry key="node-feature-version" type="xstring" value="1.2.0.202401111534"/>
    <entry key="factory-id-uniquifier" type="xstring" value="sdl.harvard.geospatial_!_NearestJoinNode2"/>
    <config key="factory_settings">
        <entry key="extension_id" type="xstring" value="sdl.harvard.geospatial"/>
        <entry key="node_id" type="xstring" value="NearestJoinNode2"/>
    </config>
    <config key="node_creation_config">
        <config key="Input Left geo table # 0"/>
        <config key="Input Right geo table # 1"/>
        <config key="Output Joined geo table # 0"/>
    </config>
    <entry key="name" type="xstring" value="Nearest Join"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 64, Cols: 18"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content"/>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="b5c65786-b2bf-45b9-85ba-e2c95ffe3ccf"/>
    </config>
</config>
