<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Loop_0">
            <entry key="type" type="xstring" value="loopcontext"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentIteration"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="country_name"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value=""/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="groupIdentifier"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value=""/>
        </config>
        <config key="Loop_Execute_4">
            <entry key="type" type="xstring" value="loopcontext_execute"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentIteration"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="264"/>
        </config>
        <config key="Variable_6">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="country_name"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Zimbabwe"/>
        </config>
        <config key="Variable_7">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="groupIdentifier"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="%Zimbabwe%"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="GroupColNames">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="country_name"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="51"/>
                <entry key="0" type="xstring" value="year"/>
                <entry key="1" type="xstring" value="country_iso3code"/>
                <entry key="2" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary"/>
                <entry key="3" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary"/>
                <entry key="4" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary"/>
                <entry key="5" type="xstring" value="Population, total"/>
                <entry key="6" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%)"/>
                <entry key="7" type="xstring" value="GDP per capita, PPP (current international US Dollar)"/>
                <entry key="8" type="xstring" value="World Bank: Total public education expenditure, % of government spending"/>
                <entry key="9" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%)"/>
                <entry key="10" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4"/>
                <entry key="11" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5"/>
                <entry key="12" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3"/>
                <entry key="13" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5"/>
                <entry key="14" type="xstring" value="country_name_presentname"/>
                <entry key="15" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (10-year Moving Average)"/>
                <entry key="16" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (10-year Moving Average)"/>
                <entry key="17" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (10-year Moving Average)"/>
                <entry key="18" type="xstring" value="Population, total (10-year Moving Average)"/>
                <entry key="19" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (10-year Moving Average)"/>
                <entry key="20" type="xstring" value="GDP per capita, PPP (current international US Dollar) (10-year Moving Average)"/>
                <entry key="21" type="xstring" value="World Bank: Total public education expenditure, % of government spending (10-year Moving Average)"/>
                <entry key="22" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (10-year Moving Average)"/>
                <entry key="23" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (10-year Moving Average)"/>
                <entry key="24" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (10-year Moving Average)"/>
                <entry key="25" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (10-year Moving Average)"/>
                <entry key="26" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (10-year Moving Average)"/>
                <entry key="27" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (CumMean/year 1959-&gt;2024)"/>
                <entry key="28" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (CumMean/year 1959-&gt;2024)"/>
                <entry key="29" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (CumMean/year 1959-&gt;2024)"/>
                <entry key="30" type="xstring" value="Population, total (CumMean/year 1959-&gt;2024)"/>
                <entry key="31" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (CumMean/year 1959-&gt;2024)"/>
                <entry key="32" type="xstring" value="GDP per capita, PPP (current international US Dollar) (CumMean/year 1959-&gt;2024)"/>
                <entry key="33" type="xstring" value="World Bank: Total public education expenditure, % of government spending (CumMean/year 1959-&gt;2024)"/>
                <entry key="34" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (CumMean/year 1959-&gt;2024)"/>
                <entry key="35" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (CumMean/year 1959-&gt;2024)"/>
                <entry key="36" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (CumMean/year 1959-&gt;2024)"/>
                <entry key="37" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (CumMean/year 1959-&gt;2024)"/>
                <entry key="38" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (CumMean/year 1959-&gt;2024)"/>
                <entry key="39" type="xstring" value="Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary (CumMean/year 2024-&gt;1959)"/>
                <entry key="40" type="xstring" value="Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary (CumMean/year 2024-&gt;1959)"/>
                <entry key="41" type="xstring" value="Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary (CumMean/year 2024-&gt;1959)"/>
                <entry key="42" type="xstring" value="Population, total (CumMean/year 2024-&gt;1959)"/>
                <entry key="43" type="xstring" value="Adult literacy rate, population 15+ years, both sexes (%) (CumMean/year 2024-&gt;1959)"/>
                <entry key="44" type="xstring" value="GDP per capita, PPP (current international US Dollar) (CumMean/year 2024-&gt;1959)"/>
                <entry key="45" type="xstring" value="World Bank: Total public education expenditure, % of government spending (CumMean/year 2024-&gt;1959)"/>
                <entry key="46" type="xstring" value="Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) (CumMean/year 2024-&gt;1959)"/>
                <entry key="47" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 4 (CumMean/year 2024-&gt;1959)"/>
                <entry key="48" type="xstring" value="PIAAC: Adults by numeracy proficiency level (%). Level 5 (CumMean/year 2024-&gt;1959)"/>
                <entry key="49" type="xstring" value="PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3 (CumMean/year 2024-&gt;1959)"/>
                <entry key="50" type="xstring" value="PIAAC: Young adults by numeracy proficiency level (%). Level 4 &amp; 5 (CumMean/year 2024-&gt;1959)"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="false"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
        <entry key="SortedInput" type="xboolean" value="false"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.meta.looper.group.GroupLoopStartNodeFactory"/>
    <entry key="node-name" type="xstring" value="Group Loop Start"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.3.v202410291553"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.3.v202410301420"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Group Loop Start"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 66, Cols: 51"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="cbfab9bb-f06c-486e-b521-42ff5f8f6540"/>
    </config>
</config>
